<div class="row">
    <div class="content">
        <h1>TEST ANGULAR + NGRX</h1>
        <hr>
        <h2>Ejercicio 2 (Básico)</h2>
        <hr>
        <p>Creamos la lógica necesaria para enviar esa información al backend y mockeamos la respuesta devolviendonos 
            el objeto que hemos enviado habiendole asignado un id</p>
        <p-button routerLink="/register" label="Ir a registro" styleClass="p-button-link"></p-button>
        <p-button routerLink="/listado" label="Ir a listado" styleClass="p-button-link"></p-button>
    </div>
</div>
