.row {
    justify-content: center;
    display: flex;
}

.card {
    background-color: white;
    width: 30%;
    padding: 2rem;
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
    border-radius: 4px;
    margin-bottom: 2rem;

    .resultado {
        background: #C8E6C9;
        border-radius: 4px;
        color: #224a23;
    }

    h2 {
        text-align: center;
    }
    .field {
        margin: 1.5rem;
        min-height: 4rem;

        .msgError {
            color: red;
            font-size: small;
        }
    }
}
