<div class="row">
    <div class="card">
        <h3>Registro</h3>
        <div class="p-fluid">
            <div class="field">
                <label for="nombre">Nombre</label>
                <input id="nombre" type="text" pInputText> 
            </div>
            <div class="field">
                <label for="apellidos">Apellidos</label>
                <input id="apellidos" type="text" pInputText> 
            </div>
            <div class="field">
                <label for="email">Email</label>
                <input id="email" type="email" pInputText> 
            </div>
            <div class="field">
                <label for="telefono">Teléfono</label>
                <p-inputNumber mode="decimal" inputId="telefono" [useGrouping]="false">
                </p-inputNumber>
            </div>
            <div class="field">
                <label for="contrasena">Contraseña</label>
                <p-inputNumber mode="decimal" inputId="contrasena" [useGrouping]="false">
                </p-inputNumber>
            </div>
        </div>
    </div>
</div>