<div class="row">
    <div class="content card">
        <p-table *ngIf="usuarios.length; else noUsuarios" [value]="usuarios" responsiveLayout="scroll"> 
            <ng-template pTemplate="header">
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Email</th>
                    <th>Teléfono</th>
                    <th>Contraseña</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-usuario>
                <tr>
                    <td>{{ usuario.id }}</td>
                    <td>{{ usuario.nombre }}</td>
                    <td>{{ usuario.apellidos }}</td>
                    <td>{{ usuario.email }}</td>
                    <td>{{ usuario.telefono }}</td>
                    <td>{{ usuario.contrasena }}</td>
                </tr>
            </ng-template>
        </p-table>
        <ng-template #noUsuarios>
            <h2>No hay usuarios registrados</h2>
        </ng-template>
        <div class="p-grid p-mt-5 p-jc-end">
            <div class="p-col-2">
                <button pButton pRipple routerLink="/" type="button" label="Inicio" class="p-button-outlined p-mr-5"></button>
                <button pButton pRipple routerLink="/register" type="submit" label="Registro" class="p-button-outlined"></button>
            </div>
        </div>
    </div>
</div>
